    *{
        padding:0;
        margin:0;
        box-sizing:border-box;
    }
    html {
        font-size:1.6rem;
    }
    body {
        font-size:1.6rem;
        font-family:sans-serif;
        background-color:#999b9e;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Roboto Slab',serif;
    }
    .container{
        max-width: 144rem;
        margin: 0 auto;
        padding:3rem;
    }
    .main-heade-container{
        background: #13141f;
    }
    .main-logo{
        color: white;
        text-decoration: none;
        display: flex;
        flex-flow:row nowrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
    }
    .search-form{
        border:.2rem solid black;
        max-width: 50rem;
        margin: 0 auto;
        border-radius:.4rem;
        position: relative;
        transition: all 300ms ease-in-out;
    }
    .main-logo-icon{
        margin:2rem;
    }
    .search-input,.search-button{
        transition: all 300ms ease-in-out;
        border: none;
        background:none;
        outline: none;
        padding: 1rem;
    }
    .search-button{
        position:absolute;
        top:0;
        right:0;
    }
    .search-button:focus{
        outline: 1px solid;
        background: rgba(0, 0, 0, .8);
    }
    .search-input{
        width: 100%;
        padding-right: 4rem;
    }
    .search-form:focus-within{
        border-color: white;
        background-color: white;
    }
    .search-form:focus-within .search-button{
       color: aqua;
    }
    .main-content{
        padding-top: 0;
    }
    .main-content-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(640px,1fr));
        gap:4rem;
    }
    .temp{
        height: 40rem;
    }
    .recipe{
        background: white;
        box-shadow: -5px 5px 15px rgba(0, 0, 0, .3);
        transition: all ease-in-out;
        transform: scale(1);
        border-radius:.5rem;
        overflow:hidden;
    }
    .recipe-cover {
        width: 100%; 
        max-width: 100%; 
        position: relative;
    }
    
    .recipe-cover img {
        width: 100%;  
        height: auto;
    }
    .recipe-list-item{
        max-width: 64rem;
        height: fit-content ;
    }
    .recipe-list-item:hover{
        transform: scale(1.02);
        box-shadow: -10px 10px 20px rgba(0, 0, 0, .3);
    }
    .recipe-title-container{
        padding: 3rem;
        padding-bottom: calc(3rem / 2);
    }
    .recipe-title-container a {
        text-decoration: none;
        color:black;
    }
    .recipe-author{
        padding: 0 3rem;
    }
    .recipe-content{
        padding:  0 3rem;
        padding-top:2rem;
        padding-bottom: 2rem;
    }
    .recipe-author-item{
        color:#c2bebe;
        padding-right: 1rem;
    }
    .recipe-author a{
        color: #999b9e;
        transition: all 300ms ease-in-out;
        text-decoration:none;
    }
    .recipe-author a:hover{
        color: black;

    }
    .recipe-meta-container{
        padding: 3rem;
        display:flex;
        flex-flow:row wrap;
    }
    .recipe-meta{
        display:flex;
        flex-flow:column nowrap;
        flex-shrink:1;
        flex-grow:1;
        text-align:center;
    }
    .main-content-detail .recipe-list-item{
        max-width: 84rem ;
        margin: 0 auto ;
        
    }
    .main-content-detail .recipe-list-item:hover{
        transform: scale(1);
        box-shadow: -5px 5px 15px rgba(0, 0, 0, .3);
    }
    .recipe-footer a{
        background:black;
        display:block;
        flex-flow:row nowrap;
        color:white;
        text-decoration:none;
        text-align:center;
        padding:2em;
        transition:all 500ms ease-in-out;
    }
    .recipe-footer a:hover{
        filter:brightness(2);
    }
    .main-footer{
        display:flex;
        align-items:center;
        justify-content:space-between;
        background:black;
        color:white;
        padding:4rem;
    }
    .main-footer a{
        color:white;
        text-decoration:none;
        transition:all 300ms ease-in-out;
    }
    .main-footer a:hover{
        filter:brightness(.8);
    }
    .preparation_steps{
        padding: 3rem;
    }